<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Josep Haines</title>
    <link rel="stylesheet" th:href="@{/css/default.css}"/>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body id="container">
    <div class="grid-item" id="side-buttons">
        <h1 class="text" id="name-header">Josep Haines</h1>
        <h2 class="text" id="about-me-header">About Me</h2>
        <h2 class="text" id="contact-header">Contact</h2>
    </div>
    <div class="grid-item" id="content-box">
    </div>
</body>
</html>